<html>
    <head>
        <link href=/assets/style.css type=text/css rel=stylesheet />
    </head>
    <body>
        <h1>Kovuri Abhishek  <%=ID%> </h1>
        <h1>Query:  <%= Qstr %> </h1>
    </body>
</html>